<p>
  {{champions | json}}
</p>

<div class="container">
  <ng-template ngFor let-champion [ngForOf]="champions">
    <div class="tiles-container">
      <div class="tiles-header">{{champion.name}}</div>
      <div class="tiles"
           [ngClass]="{
            'cosmic': champion.class === 'cosmic',
            'mutant': champion.class === 'mutant',
            'mystic': champion.class === 'mystic',
            'science': champion.class === 'science',
            'skill': champion.class === 'skill',
            'tech': champion.class === 'tech'
           }"
           [routerLink]="['/${champion.name}']">
        <img class="tiles-image" [src]="champion.image">
      </div>
    </div>
  </ng-template>
</div>
