.container {
  display: grid;
  grid-template-columns: repeat(5, fit-content(250px));
  grid-gap: 50px;
}

.tiles {
  border: 5px solid black;
  height: 350px;
  width: 275px;
  cursor: pointer;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-image {
    height: 350px;
    width: 275px;
  }
  &-header {
    font-size: 22px;
    font-weight: bold;
  }
}
