<div class="container">
  <div class="row">

    <div class="affiliation">
      <h4>Group Affiliation</h4>
      <mat-form-field>
        <mat-select placeholder="Affiliation" (selectionChange)="setAffiliationFilter($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let affiliation of affiliations" [value]="affiliation.name">
            {{affiliation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="origin">
      <h4>Origin</h4>
      <mat-form-field>
        <mat-select placeholder="Origin" (selectionChange)="setOriginFilter($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let origin of origins" [value]="origin.name">
            {{origin.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>
