.container {
  padding: 20px 10px;
}

.row {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 250px 250px;
  grid-gap: 10px;
}

.affiliation {
  grid-column: 1;
}

.origin {
  grid-column: 2;
}
