/* You can add global styles to this file, and also import other style files */
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  h4 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
  }
}
